@charset "utf-8";
/* CSS Document */

.RinjiAllBnr {
  display: none;
}

:root {
  --fontfamily-english: "Poppins", sans-serif;
  --fontfamily-japanese-sans-serif: "Noto Sans JP", sans-serif;
  --fontfamily-japanese-serif: "Noto Serif JP", serif;
  --color-base-main-bg: #f7ecea;
  --color-base-red-dark: #b2171d;
  --color-base-red-light: #e7290f;
  --color-base-blue-dark: #004b59;
  --color-base-green-light: #3aae36;
  --color-base-orange-dark: #e18500;
  --color-base-orange-light: #f8cfbb;
  --color-base-brown-dark: #986d33;
  --color-base-white: #ffffff;
  --color-base-light-gray: #9e9e9f;
}

/* ===========================================
***
*** KITTE GW 2025　PC/SP共通
***
============================================ */

/* 全体
============================================ */
/* body.view.goldenweek header {
  background: rgba(255, 255, 255, 1);
} */

#contents.goldenweek #contents-main.all {
  padding: 0;
  /* background-color: var(--color-base-main-bg); */
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  overflow: hidden;
}

#contents.goldenweek #contents-main .inner {
  background-color: var(--color-base-main-bg);
  width: 100%;
  max-width: 1560px;
  padding-bottom: 50px;
}

#contents.goldenweek #contents-main.all::before {
  content: "";
  position: absolute;
  background-image: url(./bg_curtain.png);
  background-position: top center;
  background-size: 130% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  max-width: 1560px;
  min-width: 960px;
  top: 0;
  left: auto;
  /* transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); */
  z-index: 2;
  transition: all 0.2s;
  pointer-events: none;
}

#contents.goldenweek #contents-main.all.noheader::before {
  top: 0;
  position: fixed;
}

#contents.goldenweek #contents-main.all.nocutaiin::before {
  opacity: 0;
}

#contents.goldenweek #contents-main article {
  margin-bottom: 30px;
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 50px;
}

@media screen and (max-width: 1500px) {
  .pc #contents.goldenweek #contents-main.all::before {
    background-size: 140% auto;
  }
}
@media screen and (max-width: 1400px) {
  .pc #contents.goldenweek #contents-main.all::before {
    background-size: 150% auto;
  }
}
@media screen and (max-width: 1300px) {
  .pc #contents.goldenweek #contents-main.all::before {
    background-size: 160% auto;
  }
}
@media screen and (max-width: 1200px) {
  .pc #contents.goldenweek #contents-main.all::before {
    background-image: none;
  }
}

/* メインタイトル
============================================ */
#contents.goldenweek #contents-main .main-title h2 {
  padding: 0;
}
#contents.goldenweek #contents-main .main-title img {
  max-width: 720px;
}

/* キャンペーン情報
「MUSIC THEATER デジタル抽選会」「LINE公式アカウントキャンペーン」
============================================ */
#contents.goldenweek #contents-main .campaign {
  background-color: var(--color-base-white);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
  margin-top: 50px;
}

/* タイトル */
#contents.goldenweek #contents-main .campaign h3 {
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  line-height: 1.2;
}

/* キャンペーン期間、開催場所 */
#contents.goldenweek #contents-main .campaign .campaign_term dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  font-weight: bold;
  font-size: 20px;
}
#contents.goldenweek #contents-main .campaign .campaign_term dl .detabox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 備考 */
#contents.goldenweek #contents-main .campaign .campaign_remark {
  font-size: 14px;
  line-height: normal;
  text-align: justify;
}

/* MUSIC THEATER デジタル抽選会
============================*/

/* 背景画像 */
#contents.goldenweek #contents-main .bg-digital-lottery {
  background-image: url(./bg_digital-lottery1.png);
  background-position: left 130px top 32px;
  background-repeat: no-repeat;
  background-size: auto;
}

/* タイトル */
#contents.goldenweek #contents-main .campaign.digital-lottery h3 {
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  color: var(--color-base-red-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
#contents.goldenweek #contents-main .campaign.digital-lottery h3 .subtext {
  font-size: 32px;
  position: relative;
  background-image: url(./icon_digitalLotteryApply_title1.png),
    url(./icon_digitalLotteryApply_title2.png);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 60px;
  padding: 10px 90px 10px 93px;
  margin-bottom: 15px;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  h3
  .subtext::before,
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  h3
  .subtext::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  h3
  .subtext::before {
  border: 1px solid var(--color-base-red-dark);
  width: 67%;
  bottom: 5px;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  h3
  .subtext::after {
  /* 後回し */
}
#contents.goldenweek #contents-main .campaign.digital-lottery h3 .maintext {
  font-size: 56px;
}

/* キャンペーン期間、開催場所 */
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_term
  dl {
  border: 1px solid var(--color-base-red-dark);
  color: var(--color-base-red-dark);
}

/* 参加人数 */
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_participate {
  background-color: var(--color-base-red-dark);
  color: var(--color-base-white);
  padding: 3px 10px;
  font-size: 20px;
}

/* キャンペーン概要テキスト */
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_text {
  color: var(--color-base-blue-dark);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* 参加方法 */
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply {
  position: relative;
  border: 1px solid var(--color-base-blue-dark);
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply::before {
  content: "";
  position: absolute;
  background-image: url(./bg_digital-lottery3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 39px;
  height: 61px;
  left: -76px;
  bottom: -60px;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply::after {
  content: "";
  position: absolute;
  background-image: url(./bg_digital-lottery2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 63px;
  height: 113px;
  right: -90px;
  top: -50px;
}

#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  h4 {
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: var(--color-base-white);
  color: var(--color-base-blue-dark);
  font-size: 20px;
  font-weight: bold;
  padding: 5px 40px;
}

#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image {
  position: relative;
  /* z-index: -1; */
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  background-image: url(./icon_digital-lottery_apply.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 31px;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li:last-of-type
  .image::before {
  display: none;
}

#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image
  .num {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: var(--color-base-blue-dark);
  color: var(--color-base-white);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .text {
  color: var(--color-base-blue-dark);
  font-weight: bold;
}

/* LINE公式アカウントキャンペーン
============================*/

/* 背景画像 */
#contents.goldenweek #contents-main .bg-line-campaign {
  background-image: url(./bg-line-campaign1.png);
  background-position: right 130px top -40px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 50px;
}

/* 全体 */
#contents.goldenweek #contents-main .line-campaign {
  margin-top: 0;
  position: relative;
}
#contents.goldenweek #contents-main .line-campaign::before {
  content: "";
  position: absolute;
  top: 400px;
  left: -30px;
  background-image: url(./bg-line-campaign2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 62px;
  height: 61px;
}
#contents.goldenweek #contents-main .line-campaign::after {
  content: "";
  position: absolute;
  top: 200px;
  right: -65px;
  background-image: url(./bg-line-campaign3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 71px;
  height: 435px;
}

/* 同時開催アイコン */
#contents.goldenweek #contents-main .line-campaign .dojikaisai {
  position: absolute;
  top: -35px;
  left: 0;
}

/* タイトル */
#contents.goldenweek #contents-main .campaign.line-campaign h3 {
  color: var(--color-base-green-light);
  gap: 10px;
}

#contents.goldenweek #contents-main .campaign.line-campaign h3 .subtext {
  font-size: 32px;
}
#contents.goldenweek #contents-main .campaign.line-campaign h3 .maintext {
  font-size: 56px;
}

/* テキスト */
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  width: 100%;
  position: relative;
  padding: 0 190px;
  box-sizing: border-box;
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::before,
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 190px;
  height: 230px;
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::before {
  left: 0;
  background-image: url(./fig_linecampaign_left.png);
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::after {
  right: 0;
  background-image: url(./fig_linecampaign_right.png);
}

#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text
  .red {
  color: var(--color-base-red-light);
  font-size: 24px;
}

/* キャンペーン期間 */
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_term
  dl {
  border: 1px solid var(--color-base-green-light);
  color: var(--color-base-green-light);
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_term
  dl
  .detabox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* クーポン利用期限 */
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire {
  background-color: var(--color-base-red-light);
  color: var(--color-base-white);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  /* max-width: 600px; */
  box-sizing: border-box;
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire
  dl {
  font-size: 24px;
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire
  .text {
  font-size: 18px;
}

/* 公式アカウントボタン */
#contents.goldenweek #contents-main .campaign.line-campaign .line-campaign_btn {
  background-color: var(--color-base-green-light);
  color: var(--color-base-white);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
  width: 75%;
  /* max-width: 600px; */
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_btn
  a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100px;
  color: var(--color-base-white);
  padding: 10px;
  line-height: 1.6;
  position: relative;
}
#contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_btn
  a::after {
  font-family: "font Awesome 5 Free";
  font-weight: bold;
  content: "\f105";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: block;
  color: var(--color-base-white);
  font-size: 32px;
}

/* 音楽と映画を楽しむ11日間
============================================ */

/* メインタイトル */
#contents.goldenweek #contents-main .musictheater .musictheater-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contents.goldenweek #contents-main .musictheater .musictheater-title h3 {
  background-color: transparent;
  color: var(--color-base-red-dark);
  font-size: 36px;
  letter-spacing: 0.2em;
  line-height: normal;
  position: relative;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::before,
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::before {
  background-image: url(./icon_musictheater-title1.png);
  width: 88px;
  height: 137px;
  left: -90px;
  top: -10px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::after {
  background-image: url(./icon_musictheater-title2.png);
  width: 48px;
  height: 79px;
  right: -80px;
  bottom: -70px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3
  .musictheater-title_big {
  font-size: 42px;
  letter-spacing: 0.1em;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  .musictheater-title_text {
  color: var(--color-base-blue-dark);
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid var(--color-base-blue-dark);
  padding-bottom: 15px;
  font-size: 20px;
  line-height: normal;
}

/* 各セクション */
#contents.goldenweek #contents-main .musictheater .musictheater-section {
  margin-top: 80px;
}

/* 音楽と映画を楽しむ11日間　各タイトル（特別プログラム、ニュークラシックステージ、ラ・フォル・ジュルネ）
============================================ */
#contents.goldenweek #contents-main .musictheater .musictheater-section-title {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  font-weight: bold;
  /* margin-left: 80px; */
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title_inner {
  padding-left: 90px;
  position: relative;
  letter-spacing: 0.15em;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title_inner::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 75px;
  height: 75px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title
  h4 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: bold;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title
  h4
  .red {
  color: var(--color-base-red-dark);
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title
  h4
  .blue {
  color: var(--color-base-blue-dark);
}

/* 音楽と映画を楽しむKITTEのGW特別プログラム */
#contents.goldenweek
  #contents-main
  .musictheater
  .special-program
  .musictheater-section {
  margin-top: 50px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .special-program
  .musictheater-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .special-program
  .musictheater-section-title_inner::before {
  background-image: url(./icon_musictheater-section-title1.png);
}

/* ニュークラシックステージ */
#contents.goldenweek
  #contents-main
  .musictheater
  .newclassic-stage
  .musictheater-section-title_inner::before {
  background-image: url(./icon_musictheater-section-title2.png);
}

/* ラ・フォル・ジュルネ */
#contents.goldenweek
  #contents-main
  .musictheater
  .la-folle
  .musictheater-section-title_inner::before {
  background-image: url(./icon_musictheater-section-title3.png);
}

/* 音楽と映画を楽しむ11日間　スケジュール表
============================================ */
#contents.goldenweek #contents-main .musictheater .musictheater-table {
  border-collapse: separate;
  border-spacing: 7px;
  margin-top: 50px;
  table-layout: fixed;
  width: 100%;
}
#contents.goldenweek #contents-main .musictheater .musictheater-table th,
#contents.goldenweek #contents-main .musictheater .musictheater-table td {
  font-weight: bold;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  th
  .table-flexbox,
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  td
  .table-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  td
  .table-flexbox {
  padding: 20px 10px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  td.td_theater
  .table-flexbox {
  padding: 10px 5px;
}

/* テーブルヘッダー　日付 */
#contents.goldenweek #contents-main .musictheater .musictheater-table thead th {
  color: var(--color-base-white);
  background-color: var(--color-base-light-gray);
  font-weight: bold;
  font-size: 20px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th:first-of-type {
  width: 70px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.saturday {
  background-color: var(--color-base-blue-dark);
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.sunday,
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.holiday {
  background-color: var(--color-base-red-dark);
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th
  .table-flexbox {
  flex-direction: row;
  padding: 17px 10px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th
  .small {
  font-size: 16px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.nodata {
  background-color: transparent;
}

/* テーブルボディ　時間 */
#contents.goldenweek #contents-main .musictheater .musictheater-table tbody th {
  border: 1px solid #000;
  width: 70px;
  box-sizing: border-box;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  th
  .table-flexbox {
  gap: 30px;
  position: relative;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  th
  .table-flexbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000;
  width: 1px;
  height: 25px;
}

/* テーブルボディ　イベント内容 */
#contents.goldenweek #contents-main .musictheater .musictheater-table tbody td {
  background-color: var(--color-base-white);
  position: relative;
  font-size: 14px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata {
  background-color: transparent;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .table-flexbox {
  /* min-height: 110px; */
}

/* テーブルボディ　イベントラベル　演奏/映画 */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-base-white);
  padding: 5px 5px;
  border-radius: 0 0 5px 0;
  font-size: 12px;
  line-height: 1.2;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .label.label_music {
  background-color: var(--color-base-orange-dark);
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .label.label_theater {
  background-color: var(--color-base-brown-dark);
}

/* テーブルボディ　使用曲 */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
  font-size: 11px;
  text-align: left;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .description
  span {
  background-color: var(--color-base-light-gray);
  color: var(--color-base-white);
  border-radius: 5px;
  padding: 2px;
  font-size: 10px;
  line-height: 1.2;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  .description
  p {
  flex: 1;
  line-height: normal;
}

/* テーブルボディ　映画画像 */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td
  img {
  width: 100%;
}

/* ラ・フォル・ジュルネ */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table.la-folle-table {
  margin-top: 100px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.la-folle-day {
  position: relative;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.la-folle-day::before {
  content: "";
  position: absolute;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.la-folle-day.la-folle-day-icon-left::before {
  border-top: 1px solid #a9a5a3;
  border-left: 1px solid #a9a5a3;
  top: -35px;
  left: 0;
  width: 15px;
  height: 25px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.la-folle-day.la-folle-day-icon-right::before {
  border-top: 1px solid #a9a5a3;
  border-right: 1px solid #a9a5a3;
  top: -35px;
  right: 0;
  width: 15px;
  height: 25px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  thead
  th.la-folle-day.la-folle-day-title::before {
  background-image: url(./fig_lafollejournee2025.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  max-width: 580px;
  height: 40px;
  top: -55px;
  left: 55%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 280%;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.la-folle-td {
  background-color: #f8cfbb;
}

/* アイコン */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata {
  position: relative;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata.icon1::before {
  background-image: url(./icon_musictheater-table1-1.png);
  width: 39px;
  height: 61px;
  top: 30px;
  right: 20px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata.icon2::before {
  background-image: url(./icon_musictheater-table1-2.png);
  width: 36px;
  height: 33px;
  top: 100px;
  left: 20px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata.icon3::before {
  background-image: url(./icon_musictheater-table2-1.png);
  width: 189px;
  height: 143px;
  top: 30px;
  left: 80px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table
  tbody
  td.nodata.icon4::before {
  background-image: url(./icon_musictheater-table2-2.png);
  width: 123px;
  height: 139px;
  top: 60px;
  left: 70px;
}

/* 音楽プログラム　ニュークラシックステージ　ラ・フォル・ジュルネ
============================================ */
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program {
  margin-top: 50px;
}
/* #contents.goldenweek #contents-main .musictheater .musictheater-section-program ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li {
  width: calc((100% - 50px) / 2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li img {
  width: 200px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li .program-info {
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li .program-info .date {
  border-bottom: 1px solid #a9a5a3;
  padding-bottom: 10px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li .program-info .program-info_description {
  padding-top: 10px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li .program-info .program-info_description .title {
  font-size: 24px;
}
#contents.goldenweek #contents-main .musictheater .musictheater-section-program ul li .program-info .program-info_description .text {
  margin-top: 10px;
} */

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li {
  width: calc((100% - 50px) / 2);
  display: grid;
  grid-auto-columns: 160px 1fr;
  column-gap: 20px;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 14px;
}

#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  img {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid #a9a5a3;
  padding-bottom: 10px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 20px;
  padding-top: 10px;
}
#contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-top: 10px;
  text-align: justify;
}

/* 注意事項
============================================ */
#contents.goldenweek #contents-main .attention {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 50px;
  border: 1px solid #231815;
  padding: 10px 20px;
  font-size: 14px;
}

/* ===========================================
***
*** KITTE GW 2025　SP表示
***
============================================ */

/* 全体
============================================ */

.sp #contents.goldenweek #contents-main .inner {
  padding-bottom: 20px;
}

.sp #contents.goldenweek #contents-main.all::before {
  background-size: 115% auto;
  position: absolute;
  width: 100%;
  min-width: auto;
  height: 180px;
  top: 0;
}

/* メインタイトル
============================================ */
.sp #contents.goldenweek #contents-main .main-title h2 {
  margin: 0;
}
.sp #contents.goldenweek #contents-main .main-title img {
  width: 70%;
}

/* キャンペーン情報
「MUSIC THEATER デジタル抽選会」「LINE公式アカウントキャンペーン」
============================================ */
.sp #contents.goldenweek #contents-main .campaign {
  padding: 20px;
  gap: 15px;
}

/* キャンペーン期間、開催場所 */
.sp #contents.goldenweek #contents-main .campaign .campaign_term {
  width: 100%;
}
.sp #contents.goldenweek #contents-main .campaign .campaign_term dl {
  padding: 5px 10px;
  gap: 10px;
  font-size: 16px;
}
.sp #contents.goldenweek #contents-main .campaign .campaign_term dl .detabox {
  flex-direction: column;
}

/* 備考 */
.sp #contents.goldenweek #contents-main .campaign .campaign_remark {
  font-size: 10px;
  line-height: normal;
}

/* MUSIC THEATER デジタル抽選会
============================*/

/* 背景画像 */
.sp #contents.goldenweek #contents-main .bg-digital-lottery {
  background-image: none;
}

.sp #contents.goldenweek #contents-main .campaign h3 .subtext {
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  background-size: 40px;
}
.sp #contents.goldenweek #contents-main .campaign h3 .subtext::before {
  width: 70%;
  bottom: 2px;
}
.sp #contents.goldenweek #contents-main .campaign h3 .maintext {
  font-size: 30px;
}

/* キャンペーン期間、開催場所 */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_term
  dl {
  padding: 5px 10px;
  gap: 10px;
  text-align: center;
  font-size: 16px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_term
  dl
  .detabox {
  flex-direction: column;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_participate {
  font-size: 16px;
}

/* キャンペーン概要テキスト */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_text {
  font-size: 16px;
}

/* 参加方法 */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply {
  padding: 0px 0px 10px 30px;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  h4 {
  font-size: 18px;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply::before,
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply::after {
  display: none;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol {
  flex-direction: column;
  gap: 20px;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li {
  flex-direction: row;
  text-align: left;
  position: relative;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li::before {
  content: "";
  position: absolute;
  bottom: -47%;
  left: 50%;
  transform: rotate(90deg) translateX(-50%);
  -webkit-transform: rotate(90deg) translateX(-50%);
  -ms-transform: rotate(90deg) translateX(-50%);
  background-image: url(./icon_digital-lottery_apply.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 31px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li:last-of-type:before {
  display: none;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image {
  width: 30%;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image::before {
  display: none;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .image
  .num {
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.digital-lottery
  .digital-lottery_apply
  ol
  li
  .text {
  flex: 1;
}

/* LINE公式アカウントキャンペーン
============================*/

/* 背景画像 */
.sp #contents.goldenweek #contents-main .bg-line-campaign {
  background-image: none;
}

/* 全体 */
.sp #contents.goldenweek #contents-main .line-campaign::before,
.sp #contents.goldenweek #contents-main .line-campaign::after {
  display: none;
}

.sp #contents.goldenweek #contents-main .line-campaign.campaign h3 .subtext {
  padding: 0 50px 0 50px;
}
.sp #contents.goldenweek #contents-main .campaign.line-campaign h3 {
  gap: 0;
}

/* テキスト */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text {
  padding: 0;
  font-size: 12px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text
  .red {
  font-size: 13px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::before,
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_text::after {
  display: none;
}

/* クーポン利用期限 */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire {
  width: 100%;
  max-width: none;
  position: relative;
  padding: 10px 38px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire::before,
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire::after {
  content: "";
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 115px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire::before {
  left: -40px;
  background-image: url(./fig_linecampaign_left_sp.png);
  /* transform: rotate(20deg); */
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 80px;
  height: 140px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire::after {
  right: -40px;
  background-image: url(./fig_linecampaign_right_sp.png);
  /* transform: rotate(-20deg); */
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 80px;
  height: 140px;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire
  dl {
  font-size: 16px;
  padding: 0;
}

.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_expire
  .text {
  font-size: 12px;
  line-height: normal;
}

/* 公式アカウントボタン */
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_btn {
  width: 100%;
  font-size: 18px;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_btn
  a {
  min-height: auto;
}
.sp
  #contents.goldenweek
  #contents-main
  .campaign.line-campaign
  .line-campaign_btn
  a::after {
  font-size: 20px;
  right: 15px;
}

/* 同時開催アイコン */
.sp #contents.goldenweek #contents-main .line-campaign .dojikaisai {
  position: absolute;
  top: -20px;
  left: 0;
  width: 80px;
  height: 80px;
}

/* 音楽と映画を楽しむ11日間
============================================ */

/* メインタイトル */
.sp #contents.goldenweek #contents-main .musictheater .musictheater-title h3 {
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.2;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3
  .musictheater-title_big {
  font-size: 28px;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::before {
  width: 44px;
  height: 68px;
  top: 0px;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  h3::after {
  width: 24px;
  height: 39px;
  bottom: 15px;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-title
  .musictheater-title_text {
  font-size: 16px;
}

/* 各セクション */
.sp #contents.goldenweek #contents-main .musictheater .musictheater-section {
  margin-top: 50px;
}

/* 音楽と映画を楽しむ11日間　各タイトル（特別プログラム、ニュークラシックステージ、ラ・フォル・ジュルネ）
============================================ */

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title_inner {
  padding-left: 0;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title_inner::before {
  /* width: 60px;
  height: 60px;
  top: 20px;
  left: -15px; */
  display: none;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title
  h4 {
  font-size: 20px;
  padding-left: 55px;
  position: relative;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title
  h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-title_inner
  p {
  text-align: center;
  font-size: 15px;
}

/* 音楽と映画を楽しむKITTEのGW特別プログラム */
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .special-program
  .musictheater-section-title
  h4::before {
  background-image: url(./icon_musictheater-section-title1.png);
  width: 60px;
  height: 60px;
}

/* ニュークラシックステージ */
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .newclassic-stage
  .musictheater-section-title
  h4::before {
  background-image: url(./icon_musictheater-section-title2.png);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

/* ラ・フォル・ジュルネ */
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .la-folle
  .musictheater-section-title
  h4::before {
  background-image: url(./icon_musictheater-section-title3.png);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

/* 音楽と映画を楽しむ11日間　スケジュール表
============================================ */
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table_scroll {
  overflow-x: scroll;
  position: relative;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table_scroll.withtext::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 86px;
  background-image: url(./fig_scrolltext.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 230px;
  height: 22px;
}

.sp #contents.goldenweek #contents-main .musictheater .musictheater-table {
  white-space: nowrap;
  min-width: 1175px;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-table.la-folle-table {
  min-width: 1400px;
  margin-top: 100px;
}

/* テーブルヘッダー　日付 */

/* テーブルボディ　イベント内容 */

/* 音楽プログラム　ニュークラシックステージ　ラ・フォル・ジュルネ
============================================ */

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul {
  flex-direction: column;
  gap: 0;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li {
  width: 100%;
  display: grid;
  grid-auto-columns: 120px 1fr;
  column-gap: 10px;
  align-items: flex-start;
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px dashed #333333;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li:first-of-type {
  padding-top: 0;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  img {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 5px;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 18px;
  padding-top: 5px;
}
.sp
  #contents.goldenweek
  #contents-main
  .musictheater
  .musictheater-section-program
  ul
  li
  .text {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

/* 注意事項
============================================ */
.sp #contents.goldenweek #contents-main .attention {
  font-size: 14px;
}
